<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>MIS</title>
  <style>
    #app {
      background-attachment: local;
      background-image: url('https://raw.githubusercontent.com/RTANC/background/master/stockvault-geometric-material-design-background241062.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
      padding: 3px 5px 3px 5px;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-app-bar app dark>
        <v-toolbar-title class="headline text-uppercase">
          <span class="font-weight-light"> ระบบสารสนเทศเพื่อการตัดสินใจ</span>
        </v-toolbar-title>
      </v-app-bar>
      <v-content>
        <v-container grid-list-md fluid>
          <v-layout row wrap>
            <v-flex xs12>
              <v-card>
                <v-card-title class="headline" primary-title>
                  ภาพรวมอาจารย์พยาบาลประจำหลักสูตร
                </v-card-title>
                <v-card-text>
                  <table>
                    <thead>
                      <tr>
                        <th>ชื่อ-นามสกุล</th>
                        <th>ตำแหน่ง</th>
                        <th>เลขที่ใบประกอบวิชาชีพ</th>
                        <th>ปริญญาโท</th>
                        <th>มีชั่วโมงการสอนวิชาทางการพยาบาล</th>
                        <th>ผลงานวิจัย</th>
                        <th>ผลงานวิชาการ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <template v-for="teacher in teachers">
                        <tr>
                          <td>
                            {{ (teacher.gender === 2) ? teacher.rank.rank_abbr + 'หญิง ' + teacher.person_name + ' ' + teacher.person_surname : teacher.rank.rank_abbr + teacher.person_name + ' ' + teacher.person_surname }}
                          </td>
                          <td class="text-center">{{ generatePosition(teacher.person_positions[0]) }}</td>
                          <td class="text-center">{{ generateLicense(teacher.person_licenses[0]) }}</td>
                          <td>
                            <ul>
                              <li v-for="edu in teacher.person_educations">
                                {{ generateEducation(edu) }}
                              </li>
                            </ul>
                          </td>
                          <td>{{ teacher.teacher_flag ===1 ? 'มีชั่วโมงสอน' : 'ไม่มีชั่วโมงสอน' }}</td>
                          <td></td>
                          <td></td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          BASE_URL: 'http://localhost:3000/api',
          teachers: []
        }
      },
      methods: {
        async getTeacher() {
          try {
            const response = await axios.get(this.BASE_URL + '/persons/teachers')
            this.teachers = response.data
          } catch (error) {
            console.log(error)
          }
        },
        generatePosition(val) {
          try {
            return val.position.position_name
          } catch (error) {
            return 'ไม่พบข้อมูล'
          }
        },
        generateLicense(val) {
          try {
            return val.license_no
          } catch (error) {
            return 'ไม่พบข้อมูล'
          }
        },
        generateEducation(val) {
          try {
            let edu = ''
            if (val.education_level === 1) {
              edu += 'ปริญญาเอก'
            } else if (val.education_level === 2) {
              edu += 'ปริญญาโท'
            } else if (val.education_level === 3) {
              edu += 'ปริญญาตรี'
            }
            return edu += ' ' + val.major.major_name + ' ' + val.institution.institution_name
          } catch (error) {
            return 'ไม่พบข้อมูล'
          }
        }
      },
      created() {
        this.getTeacher()
      }
    })
  </script>
</body>

</html>