<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>MIS</title>
  <style>
    #app {
      background-attachment: local;
      background-image: url('https://raw.githubusercontent.com/RTANC/background/master/stockvault-geometric-material-design-background241062.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-toolbar app dark>
        <v-toolbar-title class="headline text-uppercase">
          <span class="font-weight-light"> ระบบสารสนเทศเพื่อการตัดสินใจ</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>

        </v-toolbar-items>
      </v-toolbar>
      <v-content>
        <v-container grid-list-md fluid fill-height>
          <v-layout row wrap>
            <v-flex xs12>
              <v-card>
                <v-card-title primary-title class="title">
                  ภาพรวมโครงการ
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md fluid fill-height>
                    <v-layout row wrap>
                      <v-flex xs12 sm6 md6>
                        <v-select :items="years" v-model="year" label="ปีงบประมาณ" @change="getTask();getActivities();"></v-select>
                      </v-flex>
                      <v-flex xs12 sm6 md6>
                        <v-list dense>
                          <v-list-tile>
                            <v-list-tile-action>
                              <v-icon color="info">label</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>จำนวนโครงการ:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ tasks.length }}</v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile>
                            <v-list-tile-action>
                              <v-icon color="info">label</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>จำนวนกิจกรรม:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ activities.length }}</v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile>
                            <v-list-tile-action>
                              <v-icon color="info">label</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>ความสำเร็จโครงการ ( % ):</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ success[0] }}</v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-flex>
                      <v-flex xs12 sm6 md6>
                        <apexchart type=line height=350 :options="chartOptions2" :series="series" />
                      </v-flex>
                      <v-flex xs12 sm6 md6>
                        <apexchart type=radialBar height=350 :options="chartOptions1" :series="success" />
                      </v-flex>
                      <v-flex xs12 sm6 md6>
                        <apexchart type=pie width=380 :options="chartOptions3" :series="budgetTypes" />
                      </v-flex>
                      <v-flex xs12 sm6 md6>
                        <apexchart type=pie width=480 :options="chartOptions4" :series="series4" />
                      </v-flex>
                      <v-flex xs12>
                        <!-- <apexchart type=bar width=100% :options="chartOptions5" :series="series5"/> -->
                      </v-flex>
                      <v-flex xs12>
                        <v-data-table :headers="headers" :items="tasks" class="elevation-1">
                          <template slot="items" slot-scope="props">
                            <tr>
                              <td>{{ props.item.tsk_name }}</td>
                              <td class="text-xs-right">{{ processStatus[(props.item.tsk_process_status)-1] }}</td>
                              <td class="text-xs-right">
                                <v-btn flat icon color="info" @click="findActivities(props.item.tsk_id);">
                                  <v-icon>search</v-icon>
                                </v-btn>
                              </td>
                            </tr>
                          </template>
                        </v-data-table>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
          <v-dialog v-model="dialog" scrollable fullscreen persistent overlay max-width="500px"
            transition="dialog-transition">
            <v-card>
              <v-toolbar dark color="green darken-4">
                <v-toolbar-title>ความก้าวหน้ากิจจกรม (%)</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn flat icon @click="clear">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-toolbar>
              <v-card-text>
                <apexchart type=bar width=100% :options="chartOptions5" :series="series5" />
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      components: { 'apexchart': VueApexCharts },
      data() {
        return {
          BASE_URL: 'http://localhost:3000/api',
          dialog: false,
          processStatus: ['ขออนุมัติ', 'กำลังดำเนินการ', 'เสร็จสิ้น'],
          taskTypes: [],
          headers: [{
            text: 'ชื่อโครงการ',
            align: 'center',
            sortable: false,
            value: 'tsk_name'
          }, {
            text: 'สถานะโครงการ',
            align: 'center',
            sortable: false,
            value: 'tsk_process_status'
          }, {
            text: 'รายละเอียด',
            align: 'center',
            sortable: false,
            value: 'tsk_detail'
          }],
          years: [2562, 2561, 2560, 2559, 2558, 2557, 2556, 2555],
          year: 2556,
          activities: [],
          tasks: [],
          success: [0],
          chartOptions1: {
            plotOptions: {
              radialBar: {
                hollow: {
                  size: '70%',
                }
              },
            },
            labels: ['ความสำเร็จโครงการ']
          },
          series: [{
            name: "จำนวน",
            data: []
          }],
          chartOptions2: {
            chart: {
              height: 350,
              zoom: {
                enabled: false
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'straight'
            },
            title: {
              text: 'ประวัติโครงการ ย้อนหลัง',
              align: 'left'
            },
            grid: {
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 6
            }
          },
          budgetTypes: [],
          chartOptions3: {
            labels: ['รายรับ', 'ทบ.', 'อื่น'],
            title: {
              text: 'ภาพรวม งบประมาณโครงการ',
              align: 'left'
            }
          },
          series4: [],
          chartOptions4: {
            labels: [],
            title: {
              text: 'ภาพรวม ด้านของโครงการ',
              align: 'left'
            }
          },
          series5: [{ data: [] }],
          chartOptions5: {
            plotOptions: {
              bar: {
                horizontal: true,
              }
            },
            xaxis: {
              categories: []
            },
            noData: {
              text: 'ไม่พบข้อมูลกิจกรรม',
              align: 'center',
              verticalAlign: 'middle',
              offsetX: 0,
              offsetY: 0,
              style: {
                color: 'red',
                fontSize: '20px'
              }
            }
          }
        }
      },
      methods: {
        async getTask() {
          try {
            this.taskTypes = Array.from({ length: 10 }, () => ({ count: 0, text: '' }))
            let budget = [0, 0, 0]
            let finish = 0
            const response = await axios.get(this.BASE_URL + '/tasks/?year=' + this.year + '&tsk_flag=1')
            this.tasks = response.data
            this.tasks.forEach(element => {
              if (element.tsk_process_status === 3) {
                finish += 1
              }
              this.taskTypes[element.task_type.task_type_id].count += 1
              this.taskTypes[element.task_type.task_type_id].text = element.task_type.task_type_name
              if (element.budget_details.length > 0) {
                budget[(element.budget_details[0].budget_flag) - 1] += 1
              }
            })
            this.budgetTypes = budget
            if (this.tasks.length === 0) { // no data
              this.success[0] = 0
              this.chartOptions4.labels.length = 0
              this.series4.length = 0
              this.chartOptions4.labels.push('ไม่พบข้อมูลโครงการ')
              this.series4.push(0)
            } else {
              this.success = [(finish / this.tasks.length) * 100]
              this.getTaskTypes()
            }
          } catch (error) {
            console.log(error)
          }
        },
        getTaskTypes() {
          this.chartOptions4.labels.length = 0
          this.series4.length = 0
          this.taskTypes.forEach(val => {
            if (val.count !== 0) {
              this.chartOptions4.labels.push(val.text)
              this.series4.push(val.count)
            }
          })
        },
        async getActivities() {
          try {
            const response = await axios.get(this.BASE_URL + '/tasks/?year=' + this.year + '&tsk_flag=2')
            this.activities = response.data
          } catch (error) {
            console.log(error)
          }
        },
        async getHistory() {
          try {
            const response = await axios.get(this.BASE_URL + '/tasks/history')
            response.data.forEach(val => {
              this.series[0].data.push({ x: val.tsk_year.toString(), y: val.count })
            })
          } catch (error) {
            console.log(error)
          }
        },
        findActivities(tsk_id) {
          this.clear()
          this.series5[0].data = []
          this.activities.forEach(val => {
            if (val.tsk_parent === tsk_id) {
              this.chartOptions5.xaxis.categories.push(val.tsk_name)
              this.series5[0].data.push(Math.round((val.tsk_process_status / 3) * 100))
            }
          })
          this.dialog = true
        },
        clear() {
          this.chartOptions5.xaxis.categories.length = 0
          this.dialog = false
        }
      },
      created() {
        this.getHistory()
        this.getTask()
        this.getActivities()
      }
    })
  </script>
</body>

</html>